body {
  background-color: #fbfbfb;
}

li {
  list-style: none;
}

.nav-bar {
  padding: 0.5rem;
  background-color: #263238;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  color: white;
}

input {
  padding: 1rem;
  width: 345px;
  height: 41px;
  background: #FFFFFF;
  border: 1px solid #B4B4B4;
  border-radius: 20px;
  outline: 0;
}

.poke-card {
  color: #4c5773;
    background-color: white;
    border: 1px solid rgb(237, 242, 245);
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 8%) 0px 7px 20px;
}

.poke-stats {
  background: #F4F4F4;
border-radius: 5px;
  width: 250px;
}

.pokemon_logo {
  width: 200px;
  padding: .25rem;
}
