

body {
  background-color: #fbfbfb;
  
}

li {
  list-style: none;
}

.nav-bar {
  padding: 0.5rem;
  background-color: #263238;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  color: white;
}

input {
  padding: 1rem;
  width: 300px;
  height: 41px;
  background: #FFFFFF;
  border: 1px solid #B4B4B4;
  border-radius: 20px;
  outline: 0;
}

.search-btn {
  margin-bottom: .5rem;
  min-width: 90px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  letter-spacing: 0.5px;
  color: black;
}

.search-btn:hover {
  background-color: #ffd322;
}

.stats-btn {
  margin-bottom: .5rem;
  background-color: #263238;
  color: white;
  border-radius: 5px;
  padding: 0.2em 0;
  width: 100%;
}

.poke-card {
  color: #4c5773;
    background-color: white;
    border: 1px solid rgb(237, 242, 245);
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 8%) 0px 7px 20px;
}

.poke-stats {
  background: #F4F4F4;
border-radius: 5px;
  width: 250px;
}

.poke-image {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.poke-image img {
  width: 150px;
  padding: 1rem;
  margin-bottom: 1rem;
  
}

.pokemon_logo {
  width: 200px;
  padding: .25rem;
}

.loading-gif {
  width: 200px;
}